---
import Base from '../../layouts/Base.astro';
const title = 'Blog';
---
<Base {title}>
  <h2>Blog</h2>
  <p>Articles on mental wellbeing and therapy.</p>
  <ul>
    <li><a href="/blog/welcome/">Welcome to the blog</a></li>
  </ul>
</Base>
